{% extends "layout.html" %} 

{% block title %}
index
{% endblock %}
{% block main %}

<body class="layout_body">
<center>    
    <h1>
        Face Recogonition And Login System ! ! !
    </h1><br><br><br><br><br><br>
    <div style="box-shadow: black 12px 19px 19px; background: white; border-radius: 40px; width: 25%; left: 250px; height: 180px;">
        <Center>
            <br>
            <h5><u>LET'S TRY VOICE SEARCH </u></h5>
        </Center><br>
        <button type="button" class="vsbtn">
            <a href="\voicesearch" alt="Voice Search"> VOICE SEARCH... </a>
        </button> <img src="static/mic.jpeg"  id="mic" alt="Microphone">
      
    </di>
    
</ceter>


</body>
</html>

{%endblock%}